.main {
  font: 200 48px/1 "Yanone Kaffeesatz", sans-serif;
  text-align: center;
  color: var(--lightColor);
  background: var(--backgroundColor) url("../../images/statistics-bg.jpg")
    repeat top center;
  background-attachment: fixed;

  @media (max-width: 1199px) {
    font-size: 36px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.scroll_wrapper {
  @media (min-width: 768px) {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 1180px;
}

.h1 {
  font: 300 48px/1 "Yanone Kaffeesatz", sans-serif;
  margin-bottom: 20px;

  @media (max-width: 1199px) {
    max-width: 540px;
    font-size: 36px;
  }

  @media (max-width: 767px) {
    max-width: 300px;
    font-size: 24px;
  }
}

.subtext {
  font: 900 72px/1 "Rubik", sans-serif;
  text-transform: uppercase;

  @media (max-width: 1199px) {
    font-size: 48px;
  }

  @media (max-width: 767px) {
    font-size: 26px;
  }
}

.quantity {
  font-family: "Rubik", sans-serif;
  margin-bottom: -50px;

  @media (max-width: 767px) {
    margin-bottom: -20px;
  }

  .text {
    stroke: var(--lightColor);
    stroke-width: 6;
    stroke-linecap: round;

    @media (max-width: 1199px) {
      stroke-width: 5;
    }

    @media (max-width: 767px) {
      stroke-width: 4;
    }
  }
}

.back_home {
  position: fixed;
  top: 10px;
  left: 20px;
  font-size: 20px;
  color: var(--lightColor);
  z-index: 11;

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.go {
  margin: 20px auto 0;
  cursor: pointer;

  img {
    animation: pulse 1.2s infinite;
    animation-timing-function: ease-in-out;

    @media (max-width: 1199px) {
      max-width: 150px;
      max-height: 150px;
    }

    @media (max-width: 767px) {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1180px;
  min-height: 100vh;
  gap: 30px;
  padding: 50px 0 0;
  margin: auto;
  overflow: hidden;

  @media (min-width: 768px) {
    scroll-snap-align: start;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.screen_1 {
  flex-direction: column;
}

.screen_2 {
  @media (max-width: 767px) {
    justify-content: space-around;
  }
}

.col {
  width: 100%;
}

.col_3 {
  width: 100%;

  @media (min-width: 1024px) {
    max-width: 33%;
  }
}

.label {
  margin-top: 15px;
}

.label_large {
  font-size: 80px;
  color: var(--chartColor);

  @media (max-width: 1199px) {
    font-size: 60px;
  }

  @media (max-width: 1023px) {
    font-size: 42px;
  }
}

.chart_wrapper {
  cursor: pointer;
}

.chart_wrapper_large {
  @media (min-width: 1024px) {
    max-width: 80%;
    margin: auto;
  }
}