.panel {
  padding: 10px 4px 10px 14px;
  margin-bottom: 4px;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
}

.h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 12px;
}

.panel_inner {
  max-height: 125px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
  }
   
  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: var(--scrollbarTrack);
  }
   
  &::-webkit-scrollbar-thumb {
    border: 1px solid var(--scrollbarTrack);
    background-color: var(--scrollbarThumb);
    border-radius: 2px;
  }
}
