@use "/src/styles/mixins";

.percent {
  display: block;
  font: 900 60px/1.2 "Rubik", sans-serif;
  fill: var(--lightColor);

  @include mixins.breakpoint-desktop-down {
    font-size: 56px;
  }

  @include mixins.breakpoint-tablet-down {
    font-size: 45px;
  }
}

.label {
  font: 200 48px/1 "Yanone Kaffeesatz", sans-serif;

  @include mixins.breakpoint-desktop-down {
    font-size: 36px;
  }

  @include mixins.breakpoint-tablet-down {
    font-size: 24px;
  }
}

.shape_svg {
  margin: 0 auto 40px;

  @include mixins.breakpoint-tablet-down {
    margin-bottom: 20px;
  }
}

.square {
  @include mixins.breakpoint-tablet-up {
    max-width: 220px;
  }

  @include mixins.breakpoint-laptop-large-up {
    max-width: 90%;
  }
}

.circle {
  @include mixins.breakpoint-tablet-up {
    max-width: 230px;
  }

  @include mixins.breakpoint-laptop-large-up {
    max-width: 95%;
  }
}

.other {
  @include mixins.breakpoint-tablet-up {
    max-width: 250px;
  }

  @include mixins.breakpoint-laptop-large-up {
    max-width: 100%;
  }
}

.masked_area {
  transform: scaleY(-1);
  transform-origin: center;
}
