// //breakpoints UP
$mobile_up: 576px;
$tablet_up: 768px;
$laptop_up: 992px;
$laptop_large_up: 1200px;
$desktop_up: 1440px;

// //breakpoints DOWN
$mobile_down: 575.98px;
$tablet_down: 767.98px;
$laptop_down: 991.98px;
$laptop_large_down: 1199.98px;
$desktop_down: 1439.98px;
