.header {
  position: fixed;
  width: 100%;
  max-width: 1240px;
  top: 0;
  z-index: 10;
}

.navbar {
  padding-top: 60px;

  @media (max-width: 767px) {
    padding-top: 42px;
  }
}

.navigation_list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 40px;
  padding: 0;
  margin: 0 30px;
  list-style-type: none;

  @media (max-width: 767px) {
    justify-content: flex-start;
    margin: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    transition: all 0.3s ease-in-out;
  }

  li:first-child {
    margin-left: 40px;
  }

  li:last-child {
    margin-right: 40px;
  }

  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
  }
   
  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: transparent;
  }
   
  &::-webkit-scrollbar-thumb {
    border: none;
    background-color: transparent;
    border-radius: 3px;
  }
}

.nav_link {
  font: 900 30px/1 "Rubik", sans-serif;
  letter-spacing: 0.05em;
  color: var(--lightColor);
  opacity: 0.3;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;

  @media (max-width: 1199px) {
    font-size: 24px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
  }

  &.active {
    font-size: 75px;
    opacity: 1;

    @media (max-width: 1199px) {
      font-size: 60px;
    }
  
    @media (max-width: 767px) {
      font-size: 45px;
    }
  }
}
