@use "/src/styles/mixins";

.percent {
  display: block;
  font-weight: 900;
  line-height: 1.2;
  font-family:  "Rubik", sans-serif;
  fill: var(--lightColor);
}

.glass_svg {
  margin: 0 auto 40px;

  @include mixins.breakpoint-tablet-down {
    margin-bottom: 20px;
  }
}

.masked_area {
  transform: scaleY(-1);
  transform-origin: center;
}

.glass_svg {
  @include mixins.breakpoint-mobile-down {
    max-width: 130px;
  }
}
