.percent {
  display: block;
  font: 900 60px/1.2 "Rubik", sans-serif;
  fill: var(--lightColor);
}

.label {
  font: 200 48px/1 "Yanone Kaffeesatz", sans-serif;

  @media (max-width: 1199px) {
    font-size: 36px;
  }

  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.donut_svg {
  margin: auto;
}
