@use "/src/styles/mixins";

.percent {
  display: block;
  font: 900 52px/1.2 "Rubik", sans-serif;
  letter-spacing: 0.05em;
  fill: var(--lightColor);
  transform: translateY(14px);

  @include mixins.breakpoint-desktop-down {
    font-size: 45px;
  }
}

.label {
  position: relative;
  font: 200 44px/1 "Yanone Kaffeesatz", sans-serif;
  fill: var(--lightColor);
  transform: translateY(14px);

  @include mixins.breakpoint-desktop-down {
    font-size: 36px;
  }

  @include mixins.breakpoint-tablet-down {
    font-size: 24px;
  }
}

.shape_svg {
  margin: 0 auto 40px;
  overflow: visible;

  @include mixins.breakpoint-tablet-down {
    margin-bottom: 20px;
  }
}

.rect {
  opacity: 0.2;
  transition: opacity 0.2s ease-in-out;
}

.label_element {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.active {
  .rect {
    opacity: 1;
  }

  .label_element {
    opacity: 1;
  }
}