.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 290px;
  padding: 60px 25px 40px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  color: var(--textColor);
  background-color: var(--lightColor);
  overflow-y: auto;
  z-index: 0;

  @media (max-width: 767px) {
    max-width: none;
    padding: 53px 20px 20px;
  }
}

.h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 14px;
}

.clear_filter {
  font-size: 12px;
  line-height: 14px;
  padding: 8px 4px 8px 14px;
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  background-color: var(--scrollbarTrack);
  margin-bottom: 4px;
  cursor: pointer;
}
