@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --textColor: #2B1708;
  --activeColor: #d86814;
  --lightColor: #FFFFFF;
  --backgroundColor: #000000;
}

body {
  font-size: 12px;
  font-family: 'Marmelad', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overscroll-behavior: none;
}

.no-scroll {
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--backgroundColor) url("./images/wood-bg.png") repeat-y top center;
  background-size: 100% auto;

  @media (max-width: 1199px) {
    background-size: 200% auto;
  }

  @media (max-width: 767px) {
    background-size: 300% auto;
  }
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;

  @media (max-width: 767px) {
    padding-top: 30px;
  }
}