@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --textColor: #2B1708;
  --activeColor: #d86814;
  --lightColor: #FFFFFF;
  --borderColor: #E7E6E6;;
  --backgroundColor: #000000;
  --scrollbarTrack: #F1F1F1;
  --scrollbarThumb: #C1C1C1;
}

body {
  font-size: 12px;
  font-family: 'Marmelad', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overscroll-behavior: none;
}

.no-scroll {
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}
 
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--scrollbarTrack);
}
 
::-webkit-scrollbar-thumb {
  border: 2px solid var(--scrollbarTrack);
  background-color: var(--scrollbarThumb);
  border-radius: 5px;
}