.item {
	position: relative;
	flex-shrink: 0;
	flex: 0 0 calc(16.66%);
	overflow: hidden;

	@media (max-width: 1199px) {
		flex: 0 0 calc(25%);
	}

	@media (max-width: 767px) {
		flex: 0 0 calc(50%);
	}

	@media (max-width: 480px) {
		flex: 0 0 100%;
	}
}

.image_container {
	position: relative;
}

.front_image {
	position: relative;
	margin: auto;
	z-index: 0;
}

.back_image {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 0;
}

.details {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
	padding: 20px 30px 30px;
	position: absolute;
	height: 139px;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 85.94%, rgba(0, 0, 0, 0) 100%);
	z-index: 0;
}

.more {
	height: 10px;
	padding: 0;
	background: transparent;
	border: none;
	cursor: pointer;
}

.turn {
	padding: 0;
	background: transparent;
	border: none;
	cursor: pointer;
}

.info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px 26px 50px;
	border-radius: 0px 0px 11px 11px;
	background-color: rgba(0, 0, 0, 0.5);

	ul {
		list-style: none;
		padding: 0;
		font-size: 16px;
		line-height: 1.2;
		color: var(--lightColor);
	}
}